body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
}

.contenedor {
    display: flex;
}

.barra-lateral {
    width: 200px;
    height: 100%;
    background-color: #009fe3;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 150px;
    height: auto;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 8px;
    display: flex;
    align-items: center;
    color: #fff;
}

.menu li a {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    align-items: center;
    font-size: 15px;
}

.menu li:hover {
    background-color: #0079adc0;
}

.menu li:hover a {
    color: #fff;
}

.contenido {
    flex: 1;
    padding: 50px;
    height: auto;
    padding-left: 250px;
    background-color: #4858cf10;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}
